<div class="hide" id="session"><%= session[:group_id] %>/<%= session[:game_id] %>/<%= session[:max_score] %>
</div>


<div id="game">
	<h2>Enjoy your game of <%= session[:game_name] %>!</h2>
	<div class="border">
		<div id="scoreboard">
			<ul id="scores">
			</ul>
		</div>
	</div>
	<div class="border">
		<div id="dice">
			<ul id="rolls">
			</ul>
			<h2 id="rollTotal"></h2>
			<p id="onDeck"></p>
			<button id="nextTurn">Roll the dice!</button>
		</div>
	</div>
	<div id="media">
	</div>
</div>
<div class="border">
<div id="endgame">
	<%= form_tag("./session", method: "DELETE") do %>
	<% end %>
</div>
</div>